{% extends 'base.html' %}

{% block title %}Calcário - Pesquisa{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
	<h1>Pesquisar trabalhos</h1>
	<h2>Filtros</h2>
	<form>
		<div>
			<label for="author">Autor:</label>
			<input id="author" type="text" required />
		</div>
		<div>
			<label for="supervisor">Orientador:</label>
			<input id="supervisor" type="text" required />
		</div>
		<div>
			<label for="title">Título:</label>
			<input id="title" type="text" required />
		</div>
		<div>
			<label for="inst">Instituição de ensino:</label>
			<input id="inst" type="text" required />
		</div>
		<div>
			<label for="type">Tipo:</label>
			<select name="type" id="type">
				<option value="" disabled selected>Selecione sua opção</option>
				<option value="pfc">PFC</option>
				<option value="dissertacao">Dissertação</option>
				<option value="tese">Tese</option>
			</select>
		</div>
		<div>
			<label for="date">Ano de publicação:</label>
			<input id="date" type="text" required />
		</div>
		<div>
			<label for="area">Área de pesquisa:</label>
			<select name="area" id="area">
				<option value="" disabled selected>Selecione sua opção</option>
				<option>Ciência da computação</option>
				<option>Engenharia da computação</option>
				<option>Engenharia elétrica</option>
				<option>Engenharia eletrônica</option>
				<option>Sistemas de informação</option>
			</select>
		</div>
		<div>
			<label for="keywords">Palavras-chave:</label>
			<input id="keywords" type="text" required />
		</div>
		<button type="submit">Buscar</button>
	</form>
</div>
{% endblock %}
