{% extends 'base.html' %}

{% block title %}Calcário - Login{% endblock %}

{% block head %}
<script defer src="{{ url_for('static', filename='/js/md5.min.js') }}"></script> 
<script defer src="{{ url_for('static', filename='/js/login.js') }}"></script> 
{% endblock %}

{% block content %}
<div class="container">
	<h1>Conecte-se na sua conta</h1>
	<form action="javascript:;" onsubmit="return login();">
		<div>
			<label for="emailInputField">Email:</label>
			<input id="emailInputField" type="email" placeholder="eu@examplo.com.br" required />
		</div>
		<div>
			<label for="passwordInputField">Senha:</label>
			<input id="passwordInputField" type="password" required />
		</div>
		<button type="submit">Entrar</button>
	</form>
	<a href="register.html" class="register">Você ainda não possui conta? Clique aqui e cadastre-se!</a>
</div>
{% endblock %}
