{% extends 'base.html' %}

{% block title %}Calcário - Cadastro{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/register.css') }}" />
<script defer src="{{ url_for('static', filename='/js/md5.min.js') }}"></script> 
<script defer src="{{ url_for('static', filename='/js/register.js') }}"></script> 
{% endblock %}

{% block content %}
<div class="container">
	<h1>Formulário de cadastro de conta</h1>
	<form action="javascript:;" onsubmit="return validateAndSubmit();">
		<div>
			<label for="emailInputField">Email:</label>
			<input id="emailInputField" type="email" placeholder="eu@exemplo.com.br" required />
		</div>
		<div>
			<label for="passwordInputField">Senha:</label>
			<input id="passwordInputField" type="password" oninput="checkPasswordStrength();" required />
			<progress id="passwordProgress" max="100" value="0"></progress>
			<p class="passtip">A senha deve conter ao menos 16 caracteres, incluindo ao menos um número,
			uma letra minúscula, uma letra maiúscula e um caracter especial.</p>
		</div>
		<div>
			<label for="passwordConfirmInputField">Confirme a senha:</label>
			<input id="passwordConfirmInputField" type="password" required />
		</div>
		<button type="submit">Confirmar</button>
	</form>
</div>
{% endblock %}
