{% extends 'base.html' %}

{% block title %}Calcário - Upload{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/upload.css') }}" />
<script defer src="{{ url_for('static', filename='/js/upload.js') }}"></script> 
{% endblock %}

{% block content %}
<div class="container">
	<h1>Faça o upload do seu arquivo</h1>	
	<form action="javascript:;" onsubmit="return submitWork();">
		<div id="authors">
			<label for="Autor">Número de autores:</label>
			<input id="Autor" type="number">
			<a href="#" class="nameslink" id="filldetails" onclick='addFields("Autor", "authors")'>Digitar nomes</a>
		</div>
		<div id="supervisors">
			<label for="Orientador">Número de orientadores:</label>
			<input id="Orientador" type="number">
			<a href="#" class="nameslink" id="filldetails" onclick='addFields("Orientador", "supervisors")'>Digitar nomes</a>
		</div>
		<div>
			<label for="title">Título:</label>
			<input id="title" type="text" required />
		</div>
		<div>
			<label for="inst">Instituição de ensino:</label>
			<input id="inst" type="text" required />
		</div>
		<div>
			<label for="type">Tipo:</label>
			<select name="type" id="type">
				<option value="" disabled selected>Selecione sua opção</option>
				<option>PFC</option>
				<option>Dissertação</option>
				<option>Tese</option>
			</select>
		</div>
		<div>
			<label for="date">Data de publicação:</label>
			<input id="date" type="date" required />
		</div>
		<div>
			<label for="area">Área de pesquisa:</label>
			<select name="area" id="area">
				<option value="" disabled selected>Selecione sua opção</option>
				<option>Ciência da computação</option>
				<option>Engenharia da computação</option>
				<option>Engenharia elétrica</option>
				<option>Engenharia eletrônica</option>
				<option>Sistemas de informação</option>
			</select>
		</div>
		<div>
			<label for="keywords">Palavras-chave:</label>
			<input id="keywords" type="text" required />
		</div>
		<div>
			<label for="summary">Resumo:</label>
			</br>
			<textarea id="summary" type="text" required></textarea>
		</div>
		<div>
			<label for="fileupload">Arquivo:</label>
			<input id="fileupload" type="file" required />
		</div>
		<button type="submit">Enviar</button>
	</form>
</div>
{% endblock %}
